# GEMINI_MODEL = "gemini-flash-latest"  # padrão. Para respostas melhores (mais lento e mais caro): "gemini-pro-latest"
# FIPE_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiJkYzJiOWU4MS02NDBkLTQ1ZjEtYWUwZS0wNjVkMDFmMzBmYTIiLCJlbWFpbCI6ImFudG9uZmRkcnVzY2hlbEBnbWFpbC5jb20iLCJqdGkiOiJmMmU3OTA5My1iM2RmLTQ4YTktYjQ0MS0xYjZiMzhkMjAwZmQiLCJpYXQiOjE3OTAxOTUzNTR9._Yk3zXm2XkqpcWsEr51TxSLOm1d8L2RgzWAeMj0uubs"                       # token gratuito da API FIPE, aumenta o limite diário
# ADMIN_PASSWORD = "1111"                   # define uma senha pra ativar a página Admin (avisos técnicos das buscas)

GEMINI_API_KEY = "AQ.Ab8RN6JFfT9koH9q59yoaNSFYmLMzyb-5QzwqTdwYC2TeC5sZA"
FIPE_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiJkYzJiOWU4MS02NDBkLTQ1ZjEtYWUwZS0wNjVkMDFmMzBmYTIiLCJlbWFpbCI6ImFudG9uZmRkcnVzY2hlbEBnbWFpbC5jb20iLCJqdGkiOiJmMmU3OTA5My1iM2RmLTQ4YTktYjQ0MS0xYjZiMzhkMjAwZmQiLCJpYXQiOjE3OTAxOTUzNTR9._Yk3zXm2XkqpcWsEr51TxSLOm1d8L2RgzWAeMj0uubs"
ADMIN_PASSWORD = "1111"